@import "tailwindcss";

@theme {
	--color-indigo-50: #f0fdfa;
	--color-indigo-100: #ccfbf1;
	--color-indigo-200: #99f6e4;
	--color-indigo-300: #5eead4;
	--color-indigo-400: #2dd4bf;
	--color-indigo-500: #14b8a6;
	--color-indigo-600: #0d9488;
	--color-indigo-700: #0f766e;
	--color-indigo-800: #115e59;
	--color-indigo-900: #134e4a;
	--color-indigo-950: #042f2e;
}
